
<section class="post" ng-switch on="currentTab">
	<div class="header">
		Cloubr™
		<div ng-switch on="currentTab">
			<button class="block headerButton" type="submit" ng-click="register(register.username, register.password, register.passwordConfirmation)"ng-switch-when="register">Register</button>
			<button class="block headerButton" type="submit" ng-click="signIn(register.username, register.password)" ng-switch-when="login">Login</button>
		</div>
	</div>

	<ul class="tabs">
		<li class="tab" ng-repeat="tab in tabs" ng-class="{active:(tab == currentTab)}" ng-click="setCurrentTab(tab)">{{tab}}</li>
	</ul>
	
	<div ng-switch on="currentTab">
		<div class="content left" ng-switch-when="register">
			<form novalidate class="css-form blockWhite">
				<label class="block no-bottom">Username</label>
				<input class="block" type="text" placeholder="Username" ng-model="register.username" required>
				<label class="block no-bottom" >Password1</label>
				<input class="block" type="password" placeholder="Password" ng-model="register.password" required>
				<label class="block no-bottom">Password Confirmation</label>
				<input class="block" type="password" placeholder="Password" ng-model="register.passwordConfirmation" required>
			</form>
		</div>
		<div class="content right" ng-switch-when="login">	
			<form novalidate class="css-form blockWhite">
				<label class="block no-bottom">Username</label>
				<input class="block" type="text" placeholder="Username" ng-model="register.username" required>
				<label class="block no-bottom" >Password1</label>
				<input class="block" type="password" placeholder="Password" ng-model="register.password" required>
			</form>
		</div>
	</div>
	
</section>

<style type="text/css">
	.left.ng-enter {
		transition: 0.5s;
		left: 100%;
	}
	
	.left.ng-enter-active {
		left: 0%;
	}
	 
	.left.ng-leave {
		transition: 0.5s;		
		left: 0%;	
	}
	
	.left.ng-leave-active {
		left: 100%;
	}
	
	
	
	.right.ng-enter {
		transition: 0.5s;
		left: -100%;
	}
	
	.right.ng-enter-active {
		left: 0%;
	}
	 
	.right.ng-leave {
		transition: 0.5s;		
		left: 0%;	
	}
	
	.right.ng-leave-active {
		left: -100%;
	}


	*{
		font-family: Quicksand;
		box-sizing: border-box;
	}
	
	label{
		display: none !important;
	}


	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.header{
		z-index: 1;
		position: fixed;
		top: 0px;
		width: 100%;
		padding-left: 51px;
		height: 56px;
		line-height: 56px;
		font-size: 18px;
		background: white;
		border-bottom: 1px solid #eee;
	}
	
	.headerButton{
		position: absolute;
		top: 4px;
		right: 4px;
		border: none;
		background: #3498db;
		color: white;
		height: 40px;
		width: 96px;
		
	}
	
	.header:before{
		content: '';
		background: transparent url(css/images/cloubr-logo.png);
		position: absolute;
		width: 35px;
		height: 27px;
		top: 13px;
		left: 8px;
	}
	
	.tabs{
		z-index: 1;
		position: fixed;
		top: 57px;
		width: 100%;
	}
	
	.tabs:before{
		content: '';
		position: absolute;
		bottom: -2px;
		background: black;
		opacity: 0.1;
		height: 2px;
		width: 100%;
	}
	
	.tab{
		position: relative;
		float: left;
		height: 56px;
		background: white;d
		text-align: center;
		line-height: 56px;
		border-left: 1px solid #aaa;
		text-transform:uppercase;
		font-size: 18px;
		width: 50%;
		text-align: center;
	}
	
	.tab:first-child{
		border: none;
	}
	
	.active:before{
		content: '';
		background: #3498db;
		height: 4px;
		width: 100%;
		position: absolute;
		left: 0px;
		bottom: 0px;		
	}
	
	.content{
		position: absolute;
		width: 100%;
		top: 112px;
		padding: 8px 16px;
	}

	input{
		margin: 4px 0px;
		border: none;
		box-shadow: 0px 0px 2px 1px #ddd inset;
		min-height: 40px;
		width: 100%;
		
	}
	
	input:focus{
		box-shadow: 0px 0px 2px 1px #3498db inset;
	}
	
	label{
		padding: 0px;
	}
	
	 .blockWhite, .block{
		border-radius: 4px;
		padding: 4px 8px;
	}
	
	.blockWhite{
		background: white;
	}
	
	.no-bottom{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	.active{
		color: #3498db;
	}
	 
	


  .css-form input.ng-invalid.ng-dirty {
    box-shadow: 0px 0px 2px 1px #e74c3c inset;
  }

  .css-form input.ng-valid.ng-dirty {
    box-shadow: 0px 0px 2px 1px #2ecc71 inset;
  }
</style>