
<section class="post" ng-switch on="currentTab">
	<div class="header">
		Cloubr™
	</div>

	<ul class="tabs">
		<li class="tab" ng-repeat="tab in tabs" ng-class="{active:(tab == currentTab)}" ng-click="setCurrentTab(tab)">{{tab}}</li>
	</ul>
	
	<div ng-switch on="currentTab">
		<div class="content rightAnimation" ng-switch-when="I'm new">
			<form novalidate class="css-form blockWhite">
				<input class="block" type="text" placeholder="Username" ng-model="register.username" required>
				<input class="block" type="password" placeholder="Password" ng-model="register.password" required>
				<input class="block" type="password" placeholder="Password again" ng-model="register.passwordConfirmation" required>
				<button class="right" type="submit" ng-click="register(register.username, register.password, register.passwordConfirmation)">Register</button>
			</form>
		</div>
		<div class="content leftAnimation" ng-switch-when="Sign in">	
			<form novalidate class="css-form blockWhite">
				<input class="block" type="text" placeholder="Username" ng-model="register.username" required>
				<input class="block" type="password" placeholder="Password" ng-model="register.password" required>
				<button class="right" type="submit" ng-click="signIn(register.username, register.password)">Sign In</button>
			</form>
		</div>
	</div>	
</section>