	html{
		background: #2980b9;
		background: #E1E1E1;
		background-image: radial-gradient(circle farthest-side at left, #E2D18E, #156BA3);
	}
	
	body{
		margin: 0;
		overflow: hidden;
		height: 100vh;
		-webkit-user-select: none;
	}
	.menuIcon{
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;

	}
	
	.menuIcon:active{
		background-color: #F0F9FD;
	}
	
	.menu{
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(51, 51, 51, 0.5);
	}
	
	
	
	.menuList{
		
		background: white;
		top: 50%;
		position: absolute;
		left: 16px;
		right: 16px;
		border-radius: 4px;
	}
	
	.menuListItem:first-child:before{
		content: '';
		position: absolute;
		box-shadow: 0px -1px 0px 0px #E2E2E2;
		width: 100%;
		height: 1px;
		left: 0;
	}
	
	.menuListItem:active{
		background-color:#F0F9FD;
		cursor: pointer;
	}
	
	.menuListItem{
		height: 48px;
		line-height: 48px;
		padding: 0px 16px;
		box-shadow: 0px 1px 0px 0px #E2E2E2
	}
	
	.menuIcon{
		font-size: 18px;
		width: 48px;
		height: 48px;
		display: block !important;
		text-align: center;
		line-height: 48px !important;
	}
	
	.loadingIcon {
		background: transparent url(images/cloubr-logo.svg);
		-webkit-animation: spin 2s infinite linear;
		-moz-animation: spin 2s infinite linear;
		-o-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
		position: absolute;
		width: 50vmin;
		height: 50vmin;
		background-size: 50vmin;
		background-position: center;
		background-repeat: no-repeat;
		left: 50%;
		top: 50%;
		margin-left: -25vmin;
		margin-top: -25vmin;
	}
	
	.leftAnimation.ng-enter {
		transition: 0.2s ease;
		left: 100%;
	}
	
	.leftAnimation.ng-enter-active {
		left: 0%;
	}
	 
	.leftAnimation.ng-leave {
		transition: 0.2s ease;		
		left: 0%;	
	}
	
	.leftAnimation.ng-leave-active {
		left: 100%;
	}
	
	
	
	.rightAnimation.ng-enter {
		transition: 0.2s ease;
		left: -100%;
	}
	
	.rightAnimation.ng-enter-active {
		left: 0%;
	}
	 
	.rightAnimation.ng-leave {
		transition: 0.2s ease;		
		left: 0%;	
	}
	
	.rightAnimation.ng-leave-active {
		left: -100%;
	}


	*{
		font-family: Quicksand;
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
		-webkit-tap-highlight-color: transparent;
		-webkit-overflow-scrolling: touch;
		
		-webkit-touch-callout: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.header{
		z-index: 2;
		position: fixed;
		top: 0px;
		width: 100%;
		padding-left: 51px;
		height: 48px;
		line-height: 48px;
		font-size: 18px;
		background: white;
	}
	
	.footer{
		width: 100%;
		height: 48px;
		background: #FFF;
		position: fixed;
		bottom: 0;
	}
	
	.left{
		float: left;
	}
	
	.right{
		float: right;
	}
	
	.shadow {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(48, 48, 48, 0.58);
		z-index: 100;
		top: 0;
		left: 0;
		padding: 0 12px;
	}
	
	.transparentOverlay{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.cr-popup{		
		background: white;
		padding: 4px;
		margin: 4px;
		border-radius: 3px;
		position: relative;
		top: 50%;
	}
	
	.popupHeader{
		padding: 4px;
		margin: 4px;
	}
	
	input{
		margin: 4px 0;
		padding: 8px;
		border-radius: 3px;
	}
	
	.actionBar{
		overflow: hidden;
	}
	
	.actionBar > button{
		margin-bottom: 0;
	}
	
	.popupContent{
		padding: 4px 8px;
	}
	
	button{
		border: none;
		background: #3498db;
		color: white;
		height: 40px;
		width: 96px;
		margin: 4px 0px;
		border-radius: 4px;
	}
	
	button:active{
		background: #2980b9;
	}
	
	button.right{
		margin-left: 8px;
	}
	
	button.secundary{
		background: #777;
	}
	
	button.center{
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}
	
	.header:before{
		content: '';
		background: transparent url(images/cloubr-logo.svg);
		position: absolute;
		width: 48px;
		height: 48px;
		background-size: 36px;
		background-position: center;
		background-repeat: no-repeat;
		top: 0px;
		left: 0px;
	}
	
	.tabs{
		z-index: 1;
		position: fixed;
		top: 48px;
		width: 100%;
		box-shadow: 0px 0px 5px 0px #2C2C2C;
	}
	
	.tab{
		position: relative;
		float: left;
		height: 48px;
		background: white;d
		text-align: center;
		line-height: 48px;
		text-transform: capitalize;
		font-size: 18px;
		width: 50%;
		text-align: center;
	}
	
	.tab:active{
		background: #F0F9FD;
	}
	
	.tab:first-child{
		border: none;
	}
	
	.tab:before{
		content: '';
		height: 47px;
		width: 100%;
		border-left: 1px solid #F1F1F1;
		border-top: 1px solid #F1F1F1;
		position: absolute;
		left: 0;
	}
	
	.content{
		position: absolute;
		width: 100%;
		top: 96px;
		padding: 16px;
	}

	input{
		-webkit-user-select: text;
		margin: 4px 0px;
		border: none;
		box-shadow: 0px 0px 2px 1px #ddd inset;
		min-height: 40px;
		width: 100%;
		
	}
	
	input:focus{
		box-shadow: 0px 0px 2px 1px #3498db inset;
	}
	
	label{
		padding: 0px;
	}
	
	 .blockWhite, .block{
		border-radius: 4px;
		padding: 4px 8px;
		overflow: hidden;
	}
	
	.blockWhite{
		background: white;
	}
	
	.no-bottom{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	
	.active{
		color: #3498db;
		font-weight: bold;
	}
	
	 
	.loader{
		width: 100%;
		height: 100%;
		background: rgba(30, 30, 30, 0.6);		
		position: fixed;
		z-index: 5;
		text-align: center;
		padding-top: 75%;
		transition: 1s ease;		
	}
	
	.loader:before {
		content: 'Loading...';
		color: white;
		font-size: 26px;
	}
	
	.loader.ng-hide-remove,
	.loader.ng-hide-add.ng-add-active {
		opacity: 0;
	}
	
	.loader.ng-hide-add
	.loader.ng-hide-remove..ng-hide-remove-active {
		opacity: 1;
	}


  .css-form input.ng-invalid.ng-dirty {
    box-shadow: 0px 0px 2px 1px #e74c3c inset;
  }

  .css-form input.ng-valid.ng-dirty {
    box-shadow: 0px 0px 2px 1px #2ecc71 inset;
  }